<form [formGroup]="deletebook">
    <div class="form-group">
      <label for="text">Title</label>
      <input type="text" class="form-control" disabled id="text"  formControlName="title"/>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" disabled id="author" formControlName="author"/>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="" id="" cols="30" rows="5" disabled class="form-control" formControlName="description"></textarea>
      <!-- <input type="text" class="form-control" disabled id="description" />  -->
    </div>
  
    <a routerLink="/book/list" routerLinkActive="router-link-active"  class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
        <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
      </svg></a>
  </form>
  